<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%- stylesheetLinkTag('normalize', 'foundation.min', 'app') %>
    <script>
      document.write('<script src=' + ('__proto__' in {} ? '/javascripts/vendor/zepto.min' : '/javascripts/vendor/jquery') + '.js><\/script>')
    </script>
    <%- javascriptIncludeTag('vendor/custom.modernizr', 'vendor/foundation.min', 'application', 'libs/base64', 'libs/canvas2image', 'webcam') %>
    <%- javascriptIncludeTag('webcam', 'application') %>
    <%- csrfMetaTag() %>
    <meta charset="utf8">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  </head>
  <body>
    <header>
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name">
            <h1>
              <a class="brand" href="/">
                <img class="logo" src="/images/logo.png" alt="TWINSTagram">
                <span>TWINSTagram</span>
              </a>
            </h1>
          </li>          
        </ul>
      </nav>
    </header>    

    <div class="container">

        <%- body %>

    </div>
  </body>
  
</html>

<%- contentFor('javascripts') %>
