<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%- stylesheetLinkTag('bootstrap', 'application', 'app','bootstrap-responsive') %>
    <%- javascriptIncludeTag('jquery.1.10.min', 'bootstrap', 'rails', 'application', 'base64', 'canvas2image', 'app') %>
    <%- csrfMetaTag() %>
    <meta charset="utf8">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">TWINSTagram</a>
          </div>
        </div>
      </div>
    </header>
    

    <div class="container">
        <% var flash = request.flash('info').pop(); if (flash) { %>
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert">×</a>
                <%- flash %>
            </div>
        <% } %>

        <% flash = request.flash('error').pop(); if (flash) { %>
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                <%- flash %>
            </div>
        <% }; %>

        <%- body %>

    </div>
    <footer>
      <p>&copy; Company <% var d=new Date();%><%= d.getFullYear() %></p>
    </footer>
  </body>
</html>

<%- contentFor('javascripts') %>
